In [1]:
import psycopg2
import pandas as pd
import pandas.io.sql as pd_sql
import numpy as np
import matplotlib.pyplot as plt
#from sqlalchemy import create_engine

In [2]:
def connectDB(DB):
    # connect to the PostgreSQL server
    return psycopg2.connect(
        database=DB,
        user="postgres",
        password="Georgetown16",
        host="database-1.c5vispb5ezxg.us-east-1.rds.amazonaws.com",
        port='5432')

def disconnectDB():
    cur.close()
    conn.close()

In [3]:
# connect to "Dataset" DB 
conn = connectDB("Dataset")

# extract everything from 'table_name' into a dataframe
df = pd_sql.read_sql(f"select * from public.\"analysisFeatures\" ", con=conn).reset_index()
pd.set_option('display.max_column',50)
df.head()

,index,id_student,code_module,code_presentation,module_domain,module_presentation_length,term,year,num_of_prev_attempts,final_result,pass_fail_ind,reg_period,date_registration,date_unregistration,disability,gender,age_band,region,highest_education,imd_band,studied_credits,b4_sum_clicks,q1_sum_clicks,q2_sum_clicks,q3_sum_clicks,q4_sum_clicks,allclicks,cma_assmt_score,tma_assmt_score,tma_cma_assmt_score,final_exam,total_weight,is_reenrolled,final_exam_score
0,0,3733,DDD,2013J,STEM,261,J,2013,0,Withdrawn,None,QUARTERB4,-68.0,-8.0,N,M,55<=,South Region,HE Qualification,90-100%,60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,6516,AAA,2014J,SocialScience,269,J,2014,0,Pass,PASS,QUARTERB4,-52.0,NaN,N,M,55<=,Scotland,HE Qualification,80-90%,60,256.0,790.0,389.0,715.0,641.0,2791.0,0.0,63.5,63.5,0.0,100.0,0.0,0.0
2,2,8462,DDD,2013J,STEM,261,J,2013,0,Withdrawn,None,LONGB4,-137.0,119.0,N,M,55<=,London Region,HE Qualification,30-40%,90,81.0,442.0,123.0,0.0,0.0,646.0,0.0,34.9,34.9,0.0,40.0,0.0,0.0
3,3,8462,DDD,2014J,STEM,262,J,2014,1,Withdrawn,None,QUARTERB4,-38.0,18.0,N,M,55<=,London Region,HE Qualification,30-40%,60,0.0,10.0,0.0,0.0,0.0,10.0,0.0,43.0,43.0,0.0,50.0,4.0,0.0
4,4,11391,AAA,2013J,SocialScience,268,J,2013,0,Pass,PASS,LONGB4,-159.0,NaN,N,M,55<=,East Anglian Region,HE Qualification,90-100%,240,98.0,431.0,99.0,85.0,221.0,934.0,0.0,82.4,82.4,0.0,100.0,0.0,0.0

In [ ]:
#count null values of date_unregistration
df['date_unregistration'].isnull().sum()

In [ ]:
#count null values of date_unregistration
df['is_reenrolled'].isnull().sum()

In [ ]:
#count null values of date_unregistration
df['pass_fail_ind'].count()

In [4]:
# replace NUll values
df['is_reenrolled'] = df['is_reenrolled'].fillna(0)

In [5]:
df = df.drop(['code_module'], axis=1)
df = df.drop(['code_presentation'], axis=1)
df = df.drop(['final_result'], axis=1)
df = df.drop(['reg_period'], axis=1)
df = df.drop(['date_unregistration'], axis=1)

df.head(10)

,index,id_student,module_domain,module_presentation_length,term,year,num_of_prev_attempts,pass_fail_ind,date_registration,disability,gender,age_band,region,highest_education,imd_band,studied_credits,b4_sum_clicks,q1_sum_clicks,q2_sum_clicks,q3_sum_clicks,q4_sum_clicks,allclicks,cma_assmt_score,tma_assmt_score,tma_cma_assmt_score,final_exam,total_weight,is_reenrolled,final_exam_score
0,0,3733,STEM,261,J,2013,0,None,-68.0,N,M,55<=,South Region,HE Qualification,90-100%,60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
1,1,6516,SocialScience,269,J,2014,0,PASS,-52.0,N,M,55<=,Scotland,HE Qualification,80-90%,60,256.0,790.0,389.0,715.0,641.0,2791.0,0.00,63.50,63.50,0.0,100.0,0.0,0.0
2,2,8462,STEM,261,J,2013,0,None,-137.0,N,M,55<=,London Region,HE Qualification,30-40%,90,81.0,442.0,123.0,0.0,0.0,646.0,0.00,34.90,34.90,0.0,40.0,0.0,0.0
3,3,8462,STEM,262,J,2014,1,None,-38.0,N,M,55<=,London Region,HE Qualification,30-40%,60,0.0,10.0,0.0,0.0,0.0,10.0,0.00,43.00,43.00,0.0,50.0,4.0,0.0
4,4,11391,SocialScience,268,J,2013,0,PASS,-159.0,N,M,55<=,East Anglian Region,HE Qualification,90-100%,240,98.0,431.0,99.0,85.0,221.0,934.0,0.00,82.40,82.40,0.0,100.0,0.0,0.0
5,5,23629,SocialScience,240,B,2013,2,FAIL,-47.0,N,F,0-35,East Anglian Region,Lower Than A Level,20-30%,60,14.0,105.0,42.0,0.0,0.0,161.0,2.00,14.69,16.69,0.0,25.0,0.0,0.0
6,6,23632,SocialScience,268,J,2013,0,None,-194.0,N,F,0-35,East Anglian Region,A Level or Equivalent,40-50%,60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
7,7,23698,STEM,269,J,2014,0,PASS,-110.0,N,F,0-35,East Anglian Region,A Level or Equivalent,50-60%,120,181.0,211.0,125.0,231.0,162.0,910.0,18.39,51.58,69.97,1.0,100.0,0.0,80.0
8,8,23798,SocialScience,268,J,2013,0,PASS,-27.0,N,M,0-35,Wales,A Level or Equivalent,50-60%,60,6.0,204.0,103.0,152.0,125.0,590.0,5.00,84.24,89.24,0.0,100.0,0.0,0.0
9,9,24186,SocialScience,241,B,2014,0,PASS,-25.0,Y,F,0-35,Yorkshire Region,Lower Than A Level,10-20,30,12.0,15.0,27.0,67.0,63.0,184.0,0.00,0.00,0.00,0.0,0.0,0.0,0.0

In [ ]:
df['module_domain'].value_counts()

In [ ]:
df['is_reenrolled'].value_counts()

In [ ]:
df['imd_band'].value_counts()

In [6]:

df['imd_band'] = df['imd_band'].map({'0-10%':0,'10-20':1,'20-30%':2,'30-40%':3,'40-50%':4,'50-60%':5,'60-70%':6,'70-80%':7,'80-90%':8,'90-100%':9})
df['module_domain'] = df['module_domain'].map({'SocialScience': 0,'STEM': 1})
df['term'] = df['term'].map({'J': 0,'B': 1})
df['year'] = df['year'].map({'2013': 0,'2014': 1})
df['is_reenrolled'] = df['is_reenrolled'].replace(range(1,12), 1)
df['gender'] = df['gender'].map({'M': 0,'F': 1})
df['age_band'] = df['age_band'].map({'0-35': 0,'35-55': 1,'55<=':2})
df['region'] = df['region'].map({'Scotland': 0,'East Anglian Region': 1,'London Region':2,'South Region': 3,'North Western Region': 4,'West Midlands Region':5,'South West Region': 6,'East Midlands Region': 7,'South East Region':8,'Wales': 9,'Yorkshire Region': 10,'North Region':11,'Ireland':12})
df['pass_fail_ind'] = df['pass_fail_ind'].map({'FAIL':0,'PASS':1})
df['disability'] = df['disability'].map({'N':0,'Y':1})
df['highest_education'] = df['highest_education'].map({'No Formal quals':0,'Lower Than A Level':1,'A Level or Equivalent':2,'HE Qualification':3,'Post Graduate Qualification':4})

In [ ]:
df.head(50)

In [ ]:
from sklearn.preprocessing import LabelEncoder


# Extract our X and y data
X = df[df.columns.values.tolist()].sample(frac=0.20, replace=False, random_state=1)
y = df['code_module']

# Encode our target variable
encoder = LabelEncoder().fit(y)
y = encoder.transform(y)

print(X.shape, y.shape)

In [ ]:
# under construction
# Create a scatter matrix of the dataframe features
from pandas.plotting import scatter_matrix
scatter_matrix(X, alpha=0.2, figsize=(15, 15), diagonal='kde')
plt.show()

In [10]:
# write dataframe to database
df.to_sql(df, "featuresSTG", conn, if_exists='replace')

ImportError: Using URI string without sqlalchemy installed.

In [ ]:
disconnectDB()