# Data Wrangling

Clean and encode data to prepare for machine learning

In [6]:
import psycopg2
import pandas as pd
import pandas.io.sql as pd_sql

Connect to database before data wrangling

In [3]:
def connectDB(DB):
    # connect to the PostgreSQL server
    return psycopg2.connect(
        database=DB,
        user="postgres",
        password="Georgetown16",
        host="database-1.c5vispb5ezxg.us-east-1.rds.amazonaws.com",
        port='5432')

def disconnectDB():
    cur.close()
    conn.close()

In [7]:
# connect to "Dataset" DB 
conn = connectDB("Dataset")

# extract everything from 'table_name' into a dataframe
df = pd_sql.read_sql(f"select * from public.\"analysisFeatures\" ", con=conn)

#make sure that all columns are displayed in our dataframe
pd.set_option('display.max_column',50)

#check dataframe
df.head()

,id_student,code_module,code_presentation,module_domain,module_presentation_length,term,year,num_of_prev_attempts,final_result,pass_fail_ind,reg_period,date_registration,date_unregistration,disability,gender,age_band,region,highest_education,imd_band,studied_credits,b4_sum_clicks,q1_sum_clicks,q2_sum_clicks,q3_sum_clicks,q4_sum_clicks,allclicks,cma_assmt_score,tma_assmt_score,tma_cma_assmt_score,final_exam,total_weight,is_reenrolled,final_exam_score
0,3733,DDD,2013J,STEM,261,J,2013,0,Withdrawn,None,QUARTERB4,-68.0,-8.0,N,M,55<=,South Region,HE Qualification,90-100%,60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,6516,AAA,2014J,SocialScience,269,J,2014,0,Pass,PASS,QUARTERB4,-52.0,NaN,N,M,55<=,Scotland,HE Qualification,80-90%,60,256.0,790.0,389.0,715.0,641.0,2791.0,0.0,63.5,63.5,0.0,100.0,0.0,0.0
2,8462,DDD,2013J,STEM,261,J,2013,0,Withdrawn,None,LONGB4,-137.0,119.0,N,M,55<=,London Region,HE Qualification,30-40%,90,81.0,442.0,123.0,0.0,0.0,646.0,0.0,34.9,34.9,0.0,40.0,0.0,0.0
3,8462,DDD,2014J,STEM,262,J,2014,1,Withdrawn,None,QUARTERB4,-38.0,18.0,N,M,55<=,London Region,HE Qualification,30-40%,60,0.0,10.0,0.0,0.0,0.0,10.0,0.0,43.0,43.0,0.0,50.0,4.0,0.0
4,11391,AAA,2013J,SocialScience,268,J,2013,0,Pass,PASS,LONGB4,-159.0,NaN,N,M,55<=,East Anglian Region,HE Qualification,90-100%,240,98.0,431.0,99.0,85.0,221.0,934.0,0.0,82.4,82.4,0.0,100.0,0.0,0.0

# Dropping Features

Count columns with null values and drop features

In [7]:
#count null values of date_unregistration
df['date_unregistration'].isnull().sum()

22521

In [8]:
#count null values of date_unregistration
df['is_reenrolled'].isnull().sum()

6800

In [9]:
#count null values of date_unregistration
df['pass_fail_ind'].count()

22437

In [10]:
#replace null values
df['is_reenrolled'] = df['is_reenrolled'].fillna(0)

In [ ]:
#drop features with string values
df = df.drop(['code_module'], axis=1)
df = df.drop(['code_presentation'], axis=1)
df = df.drop(['final_result'], axis=1)
df = df.drop(['reg_period'], axis=1)
df = df.drop(['date_unregistration'], axis=1) #more than half of date unregistration colum

#check new headers in dataframe
df.head(10)

# Encoding and Mapping of Values

Investigate how values should be mapped, then map and encore values

In [8]:
#check categories to see how we should map data
df['module_domain'].value_counts()

STEM             21402
SocialScience    11191
Name: module_domain, dtype: int64

In [ ]:
#check categories to see how we should map data
df['is_reenrolled'].value_counts()

In [ ]:
#check categories to see how we should map data
df['imd_band'].value_counts()

In [ ]:
#mapping the columns
df['imd_band'] = df['imd_band'].map({'0-10%':0,'10-20':1,'20-30%':2,'30-40%':3,'40-50%':4,'50-60%':5,'60-70%':6,'70-80%':7,'80-90%':8,'90-100%':9})
df['module_domain'] = df['module_domain'].map({'SocialScience': 0,'STEM': 1})
df['term'] = df['term'].map({'J': 0,'B': 1})
df['year'] = df['year'].map({'2013': 0,'2014': 1})
df['is_reenrolled'] = df['is_reenrolled'].replace(range(1,12), 1)
df['gender'] = df['gender'].map({'M': 0,'F': 1})
df['age_band'] = df['age_band'].map({'0-35': 0,'35-55': 1,'55<=':2})
df['region'] = df['region'].map({'Scotland': 0,'East Anglian Region': 1,'London Region':2,'South Region': 3,'North Western Region': 4,'West Midlands Region':5,'South West Region': 6,'East Midlands Region': 7,'South East Region':8,'Wales': 9,'Yorkshire Region': 10,'North Region':11,'Ireland':12})
df['pass_fail_ind'] = df['pass_fail_ind'].map({'FAIL':0,'PASS':1})
df['disability'] = df['disability'].map({'N':0,'Y':1})
df['highest_education'] = df['highest_education'].map({'No Formal quals':0,'Lower Than A Level':1,'A Level or Equivalent':2,'HE Qualification':3,'Post Graduate Qualification':4})

In [ ]:
#check to see how the mapping looks correct in dataframe
df.head(50)

In [ ]:
# # write dataframe to database
# from sqlalchemy import create_engine
# engine = create_engine('postgresql://postgres:Georgetown16@database-1.c5vispb5ezxg.us-east-1.rds.amazonaws.com:5432/Dataset')
# df.to_sql('featureSTG', engine, if_exists='replace')

In [ ]:
disconnectDB()