In [ ]:
import psycopg2
import pandas as pd
import pandas.io.sql as pd_sql
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
def connectDB(DB):
    # connect to the PostgreSQL server
    return psycopg2.connect(
        database=DB,
        user="postgres",
        password="Georgetown16",
        host="database-1.c5vispb5ezxg.us-east-1.rds.amazonaws.com",
        port='5432')

def disconnectDB():
    cur.close()
    conn.close()

In [ ]:
# connect to "Dataset" DB 
conn = connectDB("Dataset")

# extract everything from 'table_name' into a dataframe
df = pd_sql.read_sql(f"select * from public.\"analysisFeatures\" ", con=conn).reset_index()
pd.set_option('display.max_column',50)
df.head()

In [ ]:
#count null values of date_unregistration
df['date_unregistration'].isnull().sum()

In [ ]:
#count null values of date_unregistration
df['is_reenrolled'].isnull().sum()

In [ ]:
#count null values of date_unregistration
df['pass_fail_ind'].count()

In [ ]:
# replace NUll values
df['is_reenrolled'] = df['is_reenrolled'].fillna(0)

In [ ]:
df = df.drop(['code_module'], axis=1)
df = df.drop(['code_presentation'], axis=1)
df = df.drop(['final_result'], axis=1)
df = df.drop(['reg_period'], axis=1)
df = df.drop(['date_unregistration'], axis=1)

df.head(10)

In [ ]:
df['module_domain'].value_counts()

In [ ]:
df['is_reenrolled'].value_counts()

In [ ]:
df['imd_band'].value_counts()

In [ ]:

df['imd_band'] = df['imd_band'].map({'0-10%':0,'10-20':1,'20-30%':2,'30-40%':3,'40-50%':4,'50-60%':5,'60-70%':6,'70-80%':7,'80-90%':8,'90-100%':9})
df['module_domain'] = df['module_domain'].map({'SocialScience': 0,'STEM': 1})
df['term'] = df['term'].map({'J': 0,'B': 1})
df['year'] = df['year'].map({'2013': 0,'2014': 1})
df['is_reenrolled'] = df['is_reenrolled'].replace(range(1,12), 1)
df['gender'] = df['gender'].map({'M': 0,'F': 1})
df['age_band'] = df['age_band'].map({'0-35': 0,'35-55': 1,'55<=':2})
df['region'] = df['region'].map({'Scotland': 0,'East Anglian Region': 1,'London Region':2,'South Region': 3,'North Western Region': 4,'West Midlands Region':5,'South West Region': 6,'East Midlands Region': 7,'South East Region':8,'Wales': 9,'Yorkshire Region': 10,'North Region':11,'Ireland':12})
df['pass_fail_ind'] = df['pass_fail_ind'].map({'FAIL':0,'PASS':1})
df['disability'] = df['disability'].map({'N':0,'Y':1})
df['highest_education'] = df['highest_education'].map({'No Formal quals':0,'Lower Than A Level':1,'A Level or Equivalent':2,'HE Qualification':3,'Post Graduate Qualification':4})

In [ ]:
df.head(50)

In [ ]:
# # write dataframe to database
# from sqlalchemy import create_engine
# engine = create_engine('postgresql://postgres:Georgetown16@database-1.c5vispb5ezxg.us-east-1.rds.amazonaws.com:5432/Dataset')
# df.to_sql('featureSTG', engine, if_exists='replace')

In [ ]:
disconnectDB()